@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.card {
  box-shadow: 10px 10px 20px rgb(0, 0, 0) !important;
  -webkit-box-shadow: 10px 10px 20px rgb(0, 0, 0) !important;
  border: none;

}

.wrapper {
    background: url("back1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    margin: 60px 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0) !important;
    -webkit-box-shadow: 10 10 10 rgb(0,0,0) !important;

    }
    td,th{
      color: #fff !important;
    }
  .button:hover {
    background-color: white;
    color: #2b5768;
  }
