@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');


:root {
    --gradient-color: linear-gradient(to bottom right, rgb(168, 44, 168), rgb(79, 2, 129));
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: #111111;
    color: #fff;
    z-index: 2;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.l {
    font-size: 34px;
}
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    filter: blur(1.5px);
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #653dbb;
    mix-blend-mode: overlay; 
}

.text {
    position: relative;
    z-index: 3;
    padding-left: 100px;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

}

.l a {

    color: white;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}

.text a:hover {
    letter-spacing: 4px;
}


/*Animation*/

.back {
    opacity: 1;
    animation-name: animation;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}


@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Media quires*/
@media(max-width: 800px) {
    .showcase, .showcase header {
        padding: 10px 25px 0 0;
    }
    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
    .logo {
        padding-left: 15px;
    }
}
@media(max-width: 1200px) {
    .logo {
        padding-left: 15px;
    }
}
@media(max-width: 1000px) {
    .showcase, .showcase header {
        padding: 10px 25px 0 0;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}
@media(max-width: 600px) {
    .showcase, .showcase header {
        padding: 10px 25px 0 0;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}
